/tugas project 5/nbproject/private/
/tugas project 6/nbproject/private/
/tugas project 5/build/
/tugas project 6/build/
/tugas project7/nbproject/private/
/tugas project7/build/
/tugas project8/nbproject/private/
/tugas project8/build/
/tugas project9/nbproject/private/
/tugas project9/build/
/tugas project10/nbproject/private/
/tugas project10/build/
/tugas project11/nbproject/private/
/tugas kelompok/nbproject/private/
/tugas kelompok/build/
/tugas_animation_kel/nbproject/private/
/tugas_animation_kel/build/
/array.matriks/nbproject/private/
/array.matriks/build/
/pengurangan_matriks/nbproject/private/
/pengurangan_matriks/build/
/matriks.pembagian.kel/nbproject/private/
/matriks.pembagian.kel/build/
/matriks_kel_imin/nbproject/private/
/matriks_kel_imin/build/
/mini_quiz/nbproject/private/
/mini_quiz/build/
/tugas_function/nbproject/private/
/tugas_function/build/